certifi==2017.11.5
chardet==3.0.4
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
graphviz==0.8.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
mxnet==1.0.0
mxnet-model-server==0.1.5
numpy==1.13.3
olefile==0.44
Pillow==9.0.1
psutil==5.4.1
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.12.2
